/* Estilos base para a calculadora */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(39, 40, 41, 1) 0%, rgba(97, 116, 122, 1) 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 500px;
    text-align: center;
}

.display {
    background-color: #444;
    color: white;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    height: 20px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 30px;
}

button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 28px;
    padding: 20px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
}

.operator {
    background-color: #f66;
    color: white;
}

#clear {
    background-color: #f00;
    font-size: 24px;
    padding: 15px 30px;
}

#clear:hover {
    background-color: #DF2E38;
}

#equals {
    background-color: #0f0;
    font-weight: bold;
}

#equals:hover {
    background-color: #38E54D;
}

.campo {
    padding: 1em;
}

.apagar {
    background-color: orange;
}

.apagar:hover {
    background-color: darkorange;
}

@media screen and (max-width: 600px) {
    .calculator {
        width: 90%;
    }

    .buttons {
        grid-template-columns: repeat(4, 1fr);
    }

    button {
        font-size: 20px;
        padding: 15px;
    }
}